.header-primero {
  background-color: var(--amarillo) !important;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
}
.header-nav {
  display: none;
  height: 4vh;
}
#ul2-nav #ul1-nav {
  margin: 0 !important;
}
#header-logo-barra {
  width: 100%;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
#header-logo-barra > img {
  width: 50%;
}
#barra-busqueda {
  background-color: white;
  border-radius: 8px;
  height: 2rem;
  padding-left: 0.3rem;
  text-align: center;
  vertical-align: middle;
  width: 45%;
}
#barra-busqueda > form {
  height: 100%;
  width: 100%;
}
#barra-busqueda > form > input {
  width: 85%;
  height: 100%;
  border: none;
}
#barra-busqueda > form > button {
  width: 10%;
  border: none;
  font-size: 15px;
  color: var(--gris-oscuro);
  background-color: transparent;
}
#subT-header {
  display: flex;
  padding: 10px 0 10px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#subT-header > h3 {
  font-size: 12px;
  padding: 5px;
  font-weight: normal;
}
#menu {
  text-align: center;
}

#btn-menu {
  background-color: var(--celeste);
  width: 15%;
  height: 2.5rem;
  border-radius: 15%;
}
.barras {
  font-size: 1.5rem;
  color: white;
}

.banner img {
  width: 100%;
}

@media (min-width: 768px) {
  #menu {
    display: none;
  }
  #header-logo-barra {
    align-items: center;
    justify-content: space-around;
  }
  #header-logo-barra img {
    width: 32%;
  }
  #barra-busqueda {
    width: 28%;
  }
  #subT-header {
    width: 35%;
  }
  .header-nav {
    display: inline-flex;
    justify-content: space-between;
    vertical-align: middle;
  }
  #ul1-nav {
    width: 48%;
    padding: 10px 0 10px 10px;
    display: flex;
    gap: 0.8rem;
    justify-content: start;
    color: black;
  }

  #ul2-nav {
    width: 47%;
    padding: 10px 10px 10px 0;
    display: flex;
    gap: 0.8rem;
    justify-content: end;
    color: black;
  }

  #ul2-nav > li > a {
    padding-right: 3px;
    text-decoration: none;
    color: black;
  }
  #ul1-nav > li > a {
    padding-right: 3px;
    text-decoration: none;
    color: black;
  }
  #subT-header {
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  #header-logo-barra img {
    width: 35%;
  }
  #barra-busqueda {
    width: 30%;
  }
  #subT-header {
    width: 25%;
  }
}

@media (min-width: 1440px) {
  #subTheader {
    font-size: 1.5rem;
  }
}
