.btn-register {
  background-color: var(--azul) !important;
}
.btn-register:hover {
  background-color: #0c57a8 !important;
}
@media (min-width: 768px) {
  .foto-perfil {
    width: 50% !important;
  }
}
