* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

body {
  background-color: var(--gris-claro);
}

.header-primero {
  background-color: var(--amarillo) !important;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-nav {
  display: none;
}
#header-logo-barra {
  width: 100%;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
#header-logo-barra > img {
  width: 50%;
}
#barra-busqueda {
  background-color: white;
  border-radius: 8px;
  height: 2rem;
  padding-left: 0.3rem;
  text-align: center;
  vertical-align: middle;
  width: 45%;
}
#barra-busqueda > input {
  width: 80%;
  height: 100%;
  border: none;
}
#barra-busqueda > button {
  width: 15%;
  border: none;
  font-size: 15px;
  color: var(--gris-oscuro);
  background-color: transparent;
}
#subT-header {
  display: flex;
  padding: 10px 0 10px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#subT-header > h3 {
  font-size: 12px;
  padding: 5px;
  font-weight: normal;
}
#menu {
  text-align: center;
}

#btn-menu {
  background-color: var(--celeste);
  width: 15%;
  height: 2.5rem;
  border-radius: 15%;
}
.barras {
  font-size: 1.5rem;
  color: white;
}

.banner img {
  width: 100%;
}
h2 {
  font-size: 24px;
  color: var(--gris-oscuro);
}

.precio {
  font-size: 18px;
}
.descuento .descripciones {
  font-size: 16px;
}
.descuento {
  color: var(--verde);
}
.nombre {
  width: 100%;
}
.truck {
  color: var(--verde);
  border-radius: 50%;
  border-color: var(--verde);
  border: solid 1px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: -15px;
}

.ultima-visita {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.ultima-visita h2 {
  text-align: center;
}
.ofertas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.ofertas h2 {
  text-align: center;
}
.card {
  width: 100%;
  padding-top: 15px;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
}

.card > div {
  border-top: solid 1px var(--gris-claro);
  width: 100%;
  padding: 5px 15px 15px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.parrafos-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nombre {
  font-weight: bolder;
  color: var(--gris-oscuro);
}
ul {
  list-style-type: none;
}
footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
footer > h5 {
  color: var(--gris-oscuro);
}
footer > div > p {
  font-size: 12px;
  color: var(--gris-oscuro);
}
footer > div > h5 {
  font-size: 1.5rem;
  color: var(--gris-oscuro);
}
footer > div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
footer i {
  font-size: 2rem;
  color: var(--celeste);
  padding: 5px;
}

@media (min-width: 768px) {
  #menu {
    display: none;
  }
  #header-logo-barra {
    align-items: center;
    justify-content: space-around;
  }
  #header-logo-barra img {
    width: 32%;
  }
  #barra-busqueda {
    width: 28%;
  }
  #subT-header {
    width: 35%;
  }
  .header-nav {
    display: inline-flex;
    justify-content: space-between;
    vertical-align: middle;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #ul1-nav {
    width: 48%;
    padding: 10px 0 10px 10px;
    display: flex;
    gap: 0.8rem;
    justify-content: start;
    color: black;
  }

  #ul2-nav {
    width: 47%;
    padding: 10px 10px 10px 0;
    display: flex;
    gap: 0.8rem;
    justify-content: end;
    color: black;
  }

  #ul2-nav > li > a {
    padding-right: 3px;
  }
  #subT-header {
    align-items: center;
    justify-content: center;
  }
  .ultima-visita h2 {
    text-align: left;
    width: 100%;
    padding-left: 5px;
  }
  .ofertas h2 {
    text-align: left;
    width: 100%;
    padding-left: 5px;
  }
  .card {
    width: 45%;
  }

  .ultima-visita {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .ofertas {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  footer > div {
    width: 45%;
  }
  footer > h5 {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  #header-logo-barra img {
    width: 35%;
  }
  #barra-busqueda {
    width: 30%;
  }
  #subT-header {
    width: 25%;
  }
  .card {
    width: 22%;
  }
  .ultima-visita h2 {
    padding-left: 10px;
  }
  .ofertas h2 {
    padding-left: 10px;
  }
  .card-text {
    padding-top: 1rem !important;
  }
  .nombre {
    font-size: 1rem;
  }
  footer > div {
    width: 31%;
  }
  footer > div > p {
    font-size: 1rem;
  }
}
@media (min-width: 1440px) {
  #subTheader {
    font-size: 1.5rem;
  }
}
