* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

body {
  background-color: var(--gris-claro);
}

.header-primero {
  background-color: var(--amarillo) !important;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-nav {
  display: none;
}
#img-principal {
  width: 70%;
}

#barra-busqueda {
  padding: 10px 0 10px 0;
}

#subT-header {
  display: flex;
  padding: 10px 0 10px 0;
}
#subT-header > h3 {
  font-size: 12px;
  padding: 5px;
}

#menu {
  text-align: center;
}

#btn-menu {
  background-color: var(--celeste);
  width: 15%;
  height: 2.5rem;
  border-radius: 15%;
}
.barras {
  font-size: 2rem;
  color: white;
}

.banner {
  width: 100vw;
}

h2 {
  font-size: 24px;
}

.precio {
  font-size: 18px;
}
.descuento .descripciones {
  font-size: 16px;
}
.descuento {
  color: var(--verde);
}
.truck {
  color: var(--verde);
  border-radius: 50%;
  border-color: var(--verde);
  border: solid 1px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ultima-visita {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.ultima-visita h2 {
  text-align: center;
}
.ofertas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.ofertas h2 {
  text-align: center;
}
.card {
  width: 100%;
  padding-top: 15px;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
}

.card > div {
  border-top: solid 1px var(--gris-claro);
  width: 100%;
  padding: 5px 15px 15px 15px;
}

ul {
  list-style-type: none;
}
footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer > div > p {
  font-size: 12px;
  color: var(--gris-oscuro);
}
footer > div > h5 {
  font-size: 1.5rem;
  color: var(--gris-oscuro);
}
footer > div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
footer i {
  font-size: 2rem;
  color: var(--celeste);
  padding: 5px;
}

@media (min-width: 768px) {
  #menu {
    display: none;
  }
  .header-nav {
    display: block;
  }
  #ul1-nav {
    padding: 10px 0 10px 0;
  }

  #ul2-nav {
    padding: 10px 0 10px 0;
  }

  #ul2-nav > li > a {
    padding-right: 3px;
  }
  #subT-header {
    align-items: center;
    justify-content: center;
  }
}
